<div class="pg-login">
  <div class="left-block">

    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <div class="form-login">
        <div class="default-text-form">Bem-vindo</div>
        <div class="title-form">Entre com sua conta</div>
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>Email</mat-label>
          <input type="email" formControlName="email" matInput>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input type="password" formControlName="password" matInput>
        </mat-form-field>

        <div>
          <button mat-flat-button color="primary" type="submit">Login</button>
        </div>
      </div>
    </form>

  </div>

  <div class="right-block">

  </div>
</div>

